<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Be Healthy | Feedback</title>
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo.png"/>

        <link href="public/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/css/bootstrap-theme.min.css" rel="stylesheet">

        <link href="public/css/owl.carousel.css" rel="stylesheet">
        <link href="public/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="public/css/magnific-popup.css" rel="stylesheet">

        <link href="css/login.css" rel="stylesheet">

    </head>
    <body>
    <form action="/user/login" method="post">

        <div class="form-outline mb-4">
            <input name="email" type="email" id="form3Example3cg" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example3cg">Your Email</label>
        </div>

        <div class="form-outline mb-4">
            <input name="password" type="password" id="form3Example4cg" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example4cg">Password</label>
        </div>

        <div class="form-check d-flex mb-5">
            <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
            />
            <label class="form-check-label" for="form2Example3g">
                I agree all statements in <a href="#" class="text-body"><u>Terms of service</u></a>
            </label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Log in</button>
        </div>

        <p class="text-center text-muted mt-5 mb-0">
            First time here?
            <a href="register" class="fw-bold text-body"><u>Register</u></a>
            or return to the
            <a href="main" class="fw-bold text-body"><u>main</u></a>
        </p>

    </form>
    </body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="https://use.fontawesome.com/55b73bf748.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/login.js"></script>
</html>