<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Be Healthy | Articles</title>
        <link rel="shortcut icon" type="image/x-icon" href="assets/logo.png"/>

        <link href="public/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/css/bootstrap-theme.min.css" rel="stylesheet">

        <link href="public/css/owl.carousel.css" rel="stylesheet">
        <link href="public/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="public/css/magnific-popup.css" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet">


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div id="menu-item" class="menu-item hide-menu">
            <div class="container">
                <ul>
                    <a href="index.html"><li>home</li></a>
                    <a href="index.html#about"><li>about</li></a>
                    <a href="index.html#workstation"><li>workstation</li></a>
                    <a href="index.html#team"><li>team</li></a>
                    <a href="index.html#contact"><li>contact</li></a>
                    <a href="smth.ejs"><li>Articles</li></a>
                    <a href="elements.ejs"><li>Feedback</li></a>
                </ul>
            </div>
        </div>
        <div class="main element">
            <nav class="navbar navbar-default navbar-vira">
                <div class="container">
                    <div class="navigation-bar">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="logo">
                                    <a href="index.html"><span class="fa fa-viacoin"></span></a>
                                </div>
                            </div>
                            <div class="col-xs-6 text-right">
                                <div class="menu m">
                                    <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <h2 class="mt80">Articles about healthy lifestyle</h2>
                <div class="content">
                    <div class="line"></div>    
                    <div id="dle-content"><div class="for_post2">
                        <div class="text2">
                            <h1>It's easy to lose weight</h1>
                                <p>
                                    Almost everyone dreams of losing weight. Many want to get quick results, some try, a few were able to achieve a tangible effect. Unfortunately, in the head of new adherents of weight loss, the concepts of “beautiful body” and “healthy body” are usually not connected.

                                    As Socrates argued, a harmoniously developed person must have a healthy soul and body.
                                    Philosophy brings up the first, physical beauty is brought up by gymnastics. If the exercises are abused, you will need the help of a doctor. The most important organ in the transformation of a person is always the brain. It is he who gives rise to the idea of the need for change, chooses the right path and is responsible for the implementation of the project. Everything will be very difficult, but the choice is always individual. Perhaps one person will need intensive collective exercises, where losing weight will pour sweat, like an air conditioner compressor on the street emits water drop by drop. Often girls even wrap themselves in cling film or put on warm clothes to sweat. Just be careful of dehydration. It is better not to expel fluid from oneself, but to make the muscles that support the entire frame of the body and are responsible for movement elastic and elastic. As you get used to it, it will become easier to endure the load, natural grace will appear.
                                </p>
                            </div>
                        <div class="text2">
                            <h1>Brain fitness </h1>
                                <p>
                                    One of the simple and effective ways to develop intelligence is Sudoku. Due to its ease and specificity, it does not require any special skills, knowledge and talents. Everyone can play this game, forcing their brain to work. At the same time, you will receive excellent lessons in training logical, abstract thinking, you will be able to stir up every cell and gather your thoughts. It is absolutely easy, but there are different levels of difficulty, which allows the player to strive for the best results and allows you to do it efficiently.
                                    It is very important to practice Sudoku consistently and systematically. All your efforts will certainly please you, and after a while you will be able to show good results and even take part in Sudoku competitions. This game requires honesty with yourself. Or just sitting over a newspaper or a monitor, making a smart face - this is very little. You need to concentrate as much as possible on the process of solving and enjoy the positive promotion of the game.
                                    Since each of us is a direct individual who is able to solve this or that puzzle in his own way. Sudoku gives you this opportunity, because you have empty blank squares in which you need to enter the numbers correctly. There are an incredible number of correct combinations, and only you can choose the right one for you. And the more and more often you train, the faster the correct decision will be given to you.
                                </p>
                            </div>
                        <div class="text2">
                            <h1>Allknown methods of healthy lifestyle foods </h1>
                                <p>
                                    Whatever type of exercise you do - running, exercising in a fitness club or cycling - you need food and water in order to energize your body and recover from exercise. At the same time, the quality of the products you use and their competent combination are of great importance. A properly selected diet can significantly speed up the training process and increase results many times over, while negligence in nutrition can throw you far back and nullify all efforts. Much has been written about proper nutrition. The bookshelves are just bursting with a huge amount of literature on various diets and healthy eating. However, paradoxical as it may seem, we still remain ignorant in matters of rational nutrition and step on the same rake over and over again with enviable constancy. There are two common mistakes people make while exercising:
                                    • The first is that people do not eat anything before training, which means that you do not energize your body - therefore, you will be more tired and weak.
                                    • The second problem, just the opposite, is that people eat too much right before a workout, and instead of building muscle, the body is busy digesting food.
                                    What and in what quantities to eat before fitness classes largely depends on the goals that you set for yourself. So, for example, if your goal is to build muscle, then 30 minutes before training, eat some large fruit and wash it down with a protein drink. And if you, on the contrary, decided to lose a couple of extra pounds, then it is better to eat 1.5-2 hours before training so that the food has time to digest and the stomach is empty.
                                    Remember two very important rules:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        <script src="js/jquery-3.1.1.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="https://use.fontawesome.com/55b73bf748.js"></script>
        <script src="js/jquery.magnific-popup.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>
